.slider-container {
  position: relative;
  width: 100%;
  height: 650px;
  border-radius: var(--radius-md);
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-md);
}

@media (max-width: 1350px) {
  .slider-container {
    height: 550px;
  }
}

@media (max-width: 600px) {
  .slider-container {
    height: 320px;
  }
}
