.slider-container {
  position: relative;
  width: 100%;
  height: 700px; 
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


.activeSlide {
  opacity: 1;
  transform: translateX(-50%) rotateY(0deg) scale(1);
  z-index: 2;
}

lastSlide {
  transform: translateX(-60%) rotateY(45deg) scale(0.8);
  opacity: 0.5;
  z-index: 1;
}

.nextSlide {
  transform: translateX(-40%) rotateY(-45deg) scale(0.8);
  opacity: 0.5;
  z-index: 1;
}

